.box-subchild {
    box-shadow: 7px 13px 23px -6px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    overflow: hidden;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.btn {
    border-color: rgb(179, 136, 29);
    box-shadow: 7px 13px 23px -6px rgba(0, 0, 0, 0.3);
}
