<div class="foot bg-dark">
  <div class="father-box">
    <div>
      <div class="foot-logo">
        <a href="https://github.com/carlosalurban" target="_blank">
          <img src="../../../assets/github-logo.png">
          <span class="text-center">GitHub</span>
        </a>
      </div>
    </div>
    <div>
      <div class="foot-logo">
        <a href="https://www.behance.net/carlosalvarezurbano" target="_blank">
          <img src="../../../assets/behance-logo-button.png">
          <span class="text-center">Behance</span>
        </a>
      </div>
    </div>
    <div>
      <div class="foot-logo">
        <a href="https://www.linkedin.com/in/carlosalvarezurbano" target="_blank">
          <img src="../../../assets/linkedin.png">
          <span class="text-center">Linkedin</span>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center copy">
    <span>&copy; Carlos Álvarez Urbano 2019</span>
  </div>
</div>