.navbar {
    box-shadow: 6px 9px 14px -10px rgba(0, 0, 0, 0.78);
}

.navbar a {
    transition: color 0.8s!important;
}

.navbar a:hover {
    color: rgb(179, 136, 29) !important;
}

.router-link-active {
    color: rgb(179, 136, 29)!important;
}

.logo {
    box-sizing: content-box;
    width: 20%;
    border-radius: 50%;
    border: 1.5px solid transparent;
    transition: border 0.8s ease;
    box-shadow: 6px 9px 14px -10px rgba(0, 0, 0, 0.78);
    min-width: 65px;
    min-height: 65px;
    
}
.maximg {
    min-width: 64.39px;
    min-height: 64.39px;
    max-width: 64.39px;
    max-height: 64.39px;

}

.logo-text {
    line-height: 61px;
    padding-left: 8px;
}

.logo:hover {
    border: 1.5px solid rgb(179, 136, 29);
}
.nav-list {
    display:flex;
}
.nav-list li {
    text-align: center;
    width:25vw;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 500;
    margin-left:10px;
}
