/* You can add global styles to this file, and also import other style files */
img{
    width: 100% !important;
    height:auto
}
#post .articulo {
    background-color: #eee !important;
    border: 5px solid white;
    padding: 20px;
}
